<% if @erb_usage[cur_lang] %>
<section id="format-usage" class="format">
    <div class="container">
        <h2>Usage</h2>

        <%= @erb_usage[cur_lang].result(binding) %>
    </div>
</section>
<% end %>

<section id="format-lang" class="format">
    <div class="container">
        <h2>
            <% if cur_lang == 'graphviz' %>
            GraphViz block diagram source
            <% else %>
            <%= LANGS[cur_lang][:name] %> source code to parse <%= format_name %>
            <% end %>
        </h2>

        <div class="panel panel-info">
            <div class="panel-heading">
                <h3 class="panel-title">Source files</h3>
            </div>
            <div class="list-group">
                <% src_files.each { |src| %>
                <a class="list-group-item" href="#<%= src[:filename] %>"><%= src[:filename] %></a>
                <% } %>
            </div>
        </div>

        <% src_files.each { |src| %>

        <div class="row">
            <div class="col-xs-12 lh-6">
                <h3 class="pull-left lh-6 m-0"><span class="false-anchor" id="<%= src[:filename] %>"><%= src[:filename] %></span></h3>
                <div class="pull-right">
                    <a href="<%= src[:path] %>" class="btn btn-success">Download <i class="fa fa-download"></i></a>
                </div>
            </div>
        </div>

        <div class="row">
            <%= code cur_lang, src[:src] %>

        </div>
        <% } %>
    </div>
</section>
